body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: black;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1,
p {
  color: white;
  font-size: 15vmin;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
}

canvas {
  position: fixed;
  touch-action: none;
  z-index: -1;
}

$mouse-width: 2.5rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem 2rem;
  color: white;

  background: {
    image: linear-gradient(
        to bottom,
        rgba(69, 72, 77, 1) 0%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("https://source.unsplash.com/random/1920x1080/?sky");
    blend-mode: multiply;
    size: cover;
  }
}

.mouse {
  max-width: $mouse-width;
  width: 100%;
  height: 10vh;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scroll {
  0%,
  20% {
    transform: translateY(0) scaleY(1);
  }

  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}

#bottom {
  position: absolute;
  right: 50;
  bottom: 0;
}

.container,
.cbp-fbscroller,
.cbp-fbscroller section {
  height: 100%;
}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
  position: fixed;
  z-index: 9999;
  right: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
  display: block;
  position: relative;
  color: transparent;
  height: 50px;
}

.cbp-fbscroller > nav a:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.cbp-fbscroller > nav a:hover:after {
  background: rgba(255, 255, 255, 0.6);
}

.cbp-fbscroller > nav a.cbp-fbcurrent:after {
  background: #fff;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
  background-attachment: fixed;
}

div.container4 {
  position: relative;
}

.big-circle {
  fill: none;
}

text {
  fill: white;
  font-family: sans-serif;
}

main {
  font-family: Helvetica, sans-serif;
  color: #fff;
  padding: 2em;
  width: 75%;
  min-height: 100vh;
  margin: 0 auto 0 auto;
}

.overlay span {
  position: relative;
  opacity: 0;
  top: 1em;
  animation: animateOverlay 1s ease-in- out forwards;
}
.overlay span:nth-child(4n) {
  animation-delay: 0s;
}
.overlay span:nth-child(4n + 1) {
  animation-delay: 1s;
}
.overlay span:nth-child(4n + 3) {
  animation-delay: 2s;
}
.overlay span:nth-child(4n + 2) {
  animation-delay: 3s;
}

@keyframes animateOverlay {
  to {
    opacity: 1;
    top: 0;
  }
}

* {
  box-sizing: border-box;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  width: 70%;
  font-size: 30px;
  display: block;
  text-align: center;
}

.char {
  font-size: 30px;
  height: 40px;
  animation: an 1s ease-out 1 both;
  display: inline-block;
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}

.partition {
  width: 25%;
  height: 40%;
  float: left;
}

#overlayText {
  z-index: 10;
}

#smaller {
  font-size: 6vmin;
  line-height: 0.8;
}

h3 {
  color: white;
  letter-spacing: 2px;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
}

#description {
  padding-left: 30%;
  padding-top: 30%;
  font-size: 20px;
}

@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:700";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dark {
  background: #24252a;
}

.flex {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.bttn {
  color: #ff0072;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn:hover {
  color: #fff;
}
a.bttn:focus {
  color: #fff;
}

a.bttn-dark {
  color: #644cad;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn-dark:hover {
  color: #fff;
}
a.bttn-dark:focus {
  color: #fff;
}

.bttn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #ff0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.bttn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ff0072;
  z-index: -2;
}
.bttn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.bttn-dark {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #644cad;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.bttn-dark:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #644cad;
  z-index: -1;
}
.bttn-dark:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn-dark:focus:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.body {
  padding: 0px;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: #f5f0ff;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
